<div class='mt-4'>
    <form method="post" action="/result">
        <div class='mb-3'>
            <label for='ten' class='form-label'>Ten</label>
            <input
                type='text'
                class='form-control'
                id='ten'
                name="name"
            />
           
        </div>
        <div class='mb-3'>
            <label for='ho' class='form-label'>Ho</label>
            <input
                type='text'
                class='form-control'
                id='ho'
                name="ho"
            />
           
        </div>
       
        <button type='submit' class='btn btn-primary' >Submit</button>
    </form>
</div>